<h1>My Todo's</h1>

<div class="container">
<table class="table">
  <caption>My Todo's</caption>
  <thead>
    <tr>
      
      <th>Description</th>
      <th>Target Date</th>
      <th>Update</th>

    </tr>

  </thead>
  <tbody>
    <!--using ngdirective for list of todo's-->
    <!-- for(Todo todo:todos) forloop method-->
    <!-- here declaring variable todo of type todos keyword(of)-->
    
    <tr *ngFor="let todo of todos">
      
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date}}</td>
      <td>{{todo.done}}</td>
      
      

    </tr>

  </tbody>

</table>

</div>